$blue:#05A6F0;
$yellow:#FEBA08;
$green:#80BC06;
$red:#F25325;
$white:#fff;
$light:#f7f7f7;
$dark:#252525;
.events_section{
    min-height: 100vh;
    .events_container{
        padding: 40px 0;
        max-width: 1200px;
        margin: 0 auto;
        h1{
            font-size: 30px;
            color: $blue;
            position: relative;
            padding: 5px 0;
            display: inline-block;
            &::before{
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 50%;
                height: 7px;
                background: $blue;
                border-radius: 2px;
            }
        }
        .latest_events_items{
            padding: 50px 0;
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 50px;
            flex-wrap: wrap;
           
        }
    }
}