.speakers-title {
	padding-top: 10px;
	text-align: center;
	font-size: 28px;
	color: #333;
}

.speakers-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	padding-bottom: 20px;
}


.speaker .image {

	margin: 0 auto;
	overflow: hidden;
	height: 150px;
	width: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.speaker .image img {

	object-fit: cover;
	border-radius: 50%;
	height: 100%;
	width: 100%;

}

.speakerInfo a {

	text-decoration: none;

}

.speaker {

	max-width: 340px;
	background-color: #94c9fa29;
	background: linear-gradient(135deg, #bee2ff, #fcc6e1);
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(20, 0, 0, 0.24);
	transition: transform 0.3s ease-in-out;
	max-height: 640px;

}

.speaker:hover {
	box-shadow: 0 4px 8px rgba(20, 0, 0, 0.2);
}



.speakerInfo {

	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 10px;


}

.speakerInfo a h2 {
	color: #000000;
	font-weight: 900;
	font-size: 35px;
}

.userSocialMedia {

	padding-bottom: 10px;

}

.speakerInfo h4 {

	font-weight: 600;
	color: rgb(71, 71, 71);

}

.userSocialMedia ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.userSocialMedia ul li {}



.userSocialMedia ul li a {
	height: 50px;
	width: 50px;
	transition: background-color 0.3s ease-in-out;
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
	.speakers-container {
		padding: 20px;
	}

	.speaker {
		width: 100%;
	}
}