$blue:#05A6F0;
$yellow:#FEBA08;
$green:#80BC06;
$red:#F25325;
$white:#fff;
$light:#f7f7f7;
$dark:#252525;
.event-details{
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    .event-details-left{
        flex: 1;
        padding: 15px;
        border: 1px solid $light;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        .event-image{
            width: 100%;
            height: 800px;
            display: block;
            margin: 1rem auto;
            border-radius: 15px;
            border: 2px solid $light;
        }
        .event-title{
            text-align: center;
            font-weight: 900;
            color: $dark;
            border-radius: 15px;
            padding: 5px;
            border: 2px solid $light;
        }
        .meta-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .event-adresse{
                margin: 10px 0;
                color: $red;
                font-size: 18px;
                font-weight: 800;
            }
            .event-date{
                margin: 10px 0;
                color: $green;
                font-size: 18px;
                font-weight: 800;
                display: flex;
                gap: 10px;
            }
        }
        .event-description{
            p{
                margin-top: 15px;
                font-size: 17px;
                font-weight: 500;
                color: $dark;
            }
        }
        .enroll-btn{
            margin: 30px auto;
            display: block;
            padding: 15px 55px;
            border: none;
            border-radius: 8px;
            font-size: 17px;
            background: $blue;
            color: $light;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;
            text-transform: capitalize;
            cursor: pointer;
            transition: 0.3s linear;
            &:hover{
                box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
            }
        }
        .event-partners{
           text-align: center;
          .partners-heading{
            margin: 60px 0 20px 0;
            color:$blue;
            font-weight: 700;
            text-transform: capitalize;
            display: inline-block;
            font-size: 22px;
          }
        }
    }
    .event-details-right{
        flex: 0 0 360px;
        padding: 15px;
        border: 1px solid $light;
        height: 100%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        .recommended-events-items{
            display: grid;
            gap: 30px;
            margin-top: 30px;
            .recommended-event-item{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; 
                border-radius: 15px;
                border: 1px solid $light;
                display: flex;
                gap: 3px;
                img{
                    border-radius: 15px 0 0 15px;
                    border: 1px solid $light;
                    display: block;
                    width: 120px;
                    background: #000;
                    height: 120px;
                    object-fit: cover;
                }
                .recommended-event-info{
                    text-align: center;
                    width: 100%;
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    a{
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $blue;
                        gap: 12px;
                    }
                }
            }
        }
    }
}