$blue: #05a6f0;
$yellow: #feba08;
$green: #80bc06;
$red: #f25325;
$white: #fff;
$light: #f7f7f7;
$dark: #252525;

.speaker-details {
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  .speaker-details-left {
    background-color: #ffffff;
    margin: 10px;
    flex: 1;
    border-radius: 15px;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    .speaker-details-left-cover {
      padding: 15px;

      .speaker-details-left-cover-img {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        flex-wrap: wrap;
        border-radius: 15px;
        background-color: #05a6f0;
        width: 100%;
        background: linear-gradient(135deg, #bee2ff, #fcc6e1);

        h1 {
          font-weight: 900;
          font-size: 55px;
          color: #fcfcfc;
        }

        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid $light;
        }
      }
    }

    .speaker-info {
      padding: 15px;
      margin: 0 auto;
      .speaker-details-long-description {
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }

  .speaker-details-right {
    margin-top: 10px;
    flex: 0 0 400px;
    height: 100vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    overflow-y: scroll;

    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    .speaker-details-right-container {
      display: flex;
      gap: 30px;
      flex-direction: column;
      .speaker-details-list {
        max-width: 400px;
        margin: 0px auto;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(1, 1, 1, 0.2);
        border-radius: 8px;
        overflow: hidden;
        padding: 0px;

        .speaker-details-list-cover {
          img {
            width: 100%;
            height: 100px;
            object-fit: cover;
          }

          .speaker-details-list-image {
            img {
              background-color: #f7f7f7;
              padding: 5px;
              border-radius: 50%;
              margin-top: -100px;
              height: 150px;
              width: 150px;
              object-fit: cover;
              cursor: pointer;
              transition: 0.3s linear;
              &:hover {
                box-shadow: 0 0 10px 6px rgba(17, 120, 255, 0.5);
              }
            }
          }
        }

        .speaker-details-list-info {
          padding: 10px;
          display: block;
          flex-wrap: wrap;

          h1 {
            cursor: pointer;
            color: #05a6f0;
          }
          a {
            color: #05a6f0;
            font-weight: 700;
          }
        }
      }
    }
  }
}
