$blue:#05A6F0;
$yellow:#FEBA08;
$green:#80BC06;
$red:#F25325;
$white:#fff;
$light:#f7f7f7;
$dark:#252525;
header{
    min-height: 100vh;
    background-image: linear-gradient(to right , #ffffffac,#ffffffac) , url(../../assets/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .header-top{
        max-width: 1200px;
        margin: 0 auto;
        height: 90px;
        border-bottom: 1px solid $light ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    .menu{
        .nav-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            li{
                list-style: none;
                a{
                    text-transform: capitalize;
                    text-decoration: none;
                    font-weight: 500;
                    color: $dark;
                    padding: 10px;
                    position: relative;
                    &::after{
                     position: absolute;
                     content: "";
                     width: 0;
                     height: 5px;
                     background: $blue;
                     border-radius: 2px;
                     bottom:0;
                     left: 0;
                     transition: 0.3s linear;
                    }
                    &:hover{
                        color: $blue;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .header-left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        .search-box{
            position: relative;
            width: 270px;
            input{
                padding: 12px;
                width: 100%;
                border:1px solid $blue;
                background: transparent;
                border-radius: 12px;
                &::placeholder{
                    color:$dark;
                    text-transform: capitalize;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                }
                &:focus{
                    outline: 0;
                }
            }
            .search-icon{
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                text-align: center;
                line-height: 55px;
                color: $white;
                height: 100%;
                background: $blue;
                border-radius: 0 12px 12px 0;
                border-right: 1px solid $blue;
                border-bottom: 1px solid $blue;
                border-top: 1px solid $blue;
            }
        }
        .account-box{
            .account-icon{
                border:1px solid $blue;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $blue;
                svg{
                    font-size: 30px;
                }
            }
        }
    }
}
.content{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-size: 90px;
        width: 1000px;
        color: $light;
        strong{
            color: $blue;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                top: -50px;
                right: 100px;
                width: 200px;
                height: 0;
                background: $blue;
                border-radius: 50%;
                filter: blur(120px);
                transition: 0.3s linear;
            }
            &:hover::before{
                height: 200px;
            }
        }
    }
}
}